html {
    background: linear-gradient(25deg, rgb(232, 234, 224), rgb(193, 220, 248));
}


.game-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #1e1052;
    text-align: center;
}

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 596px;
    height: 505px;
    border: 5px solid;
    border-color: rgb(84, 120, 167);
    margin-left: 28%;
    margin-bottom: 50px;
}

.game-box {
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-color: rgb(84, 120, 167);
    background: linear-gradient(25deg, rgb(232, 234, 224), rgb(129, 175, 220));
    cursor: pointer;
}

.statistic {
    height: 30px;
}

.time, .score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #7c230e;
    margin-left: 10px;
}

.score {
    margin-left: 400px;
}

.div-themes {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-color: rgb(17, 43, 77);
    width: 350px;
    align-items: center;
    background-color: rgb(138, 186, 205);
    position: absolute;
    left: 36.5%;
    bottom: 36.5%;
    border-radius: 6px;
}

.choose-theme, .h2-bravo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #1e1052;
}

.resuils {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    position: absolute;
    left: 36.5%;
    bottom: 46.5%;
    border: 3px solid;
    border-color: rgb(17, 43, 77);
    background-color: rgb(186, 228, 228);
    border-radius: 6px;
}

.play-again {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #1e1052;
    background-color: rgb(98, 193, 230);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0 0 8px #030737;
    width: 160px;
    height: 30px;
}

.play-again:hover {
    background-color: rgb(20, 162, 174);
    transition: 1s;
}

.p-results {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #7c230e;
}

.theme {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #1e1052;
    border: 3px solid;
    border-color: rgb(17, 43, 77);
    margin-bottom: 8px;
    width: 160px;
    text-align: center;
    background-color: rgb(191, 236, 236);
    cursor: pointer;
    box-shadow: 0 0 8px #030737;
    border-radius: 10px;
}

.theme:hover {
    background-color: rgb(49, 205, 219);
    transition: 1s;
}

.footer-wrapper {
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    margin-left: 30px;
    background: linear-gradient(25deg, rgb(232, 234, 224), rgb(129, 175, 220));
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #030737;
}

a {
    text-decoration: none;
    color:  rgb(7, 3, 42);
    font-size: 17px;
    font-weight: bold;
}

.github-icon {
    margin-left: 10px;
    padding-top: 6px;
}

.git {
   display: inline-block;
   padding-bottom: 6px;
}

a:hover {
    color: #677bcb;
}

.rs-icon {
    margin-right: 10px;
    margin-top: 5px;
}

.year {
    color:  rgb(7, 3, 42);
    font-size: 17px;
    font-weight: bold;
}