* {
    box-sizing: border-box;
  }

html, body, div, span, main, p,
a, img, ol, ul, li, form, label, footer, header,
nav, h1, h2, h3, p, section {
	margin: 0;
	padding: 0;
	border: 0;
} 

  body {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 1440px;
    margin: 0 auto; 
    background-color: rgb(189, 199, 199);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
}

.nav-menu {
    cursor: pointer;
    width: Hug (584px);
    height: Hug (50px);
    margin-top: 20px;
    margin-left: 474px;
}

.ul-menu {
    display: flex;
    list-style: none;
}

.li-menu {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-align: left;
    margin-left: 30px;
}

h1 {
    width: 294px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    text-align: left;
}

.icon-profile {
    width: 28px;
    height: 28px;
    margin-top: 31px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
  }

  .welcome {
    height: 600px; 
    width: 100%;
    background-image: url(img/image-welcome.png);
}
 
  .overlay {
    height: 300px;
    width: 100%;
  }

  .p-wel-conteiner {
    position: absolute;
    margin-top: 220px;
    background-color: #0C0C0E;
    width: 600px;
    height: 220px;
    padding: 35px 40px 35px 40px;
  }

  .p-welcome {
    width: 520px;
    height: 150px;
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    white-space: pre-wrap;
  }

  .about {
    height: 837px;
  }

  .p-about {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    margin-top: 40px;
    margin-bottom: 20px;
  }

   .slaider {
    display: flex;
    justify-content: space-around;
   }

   .img-slaider {
    width: 450px;
    height: 560px;
   }

   .pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
   }

   .pagination1 {
    width: 16px;
    height: 16px;
    background-color: #BB945F;
    border-radius: 50%;
   }

   .pagination2 {
    width: 16px;
    height: 16px;
    background-color: #000000;
    border-radius: 50%;
   }

   .pagination3 {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
   }

   .block-pagination {
    width: 26px;
    height: 26px;
   }

  .favorites {
    height: 1439px;
  }

  .coffeshop {
    height: 841px;
    padding: 20px 20px 40px 20px;
  }

  .contacts {
    height: 575px;
    padding: 20px 20px 40px 20px;
  }

  .librarycard {
    height: 614px;
  }

  h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .line {
    width: 50px;
    height: 1px;
    display: block;
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
  }

  .footer {
    height: 250px;
    width: 100%;
    background-color: #0C0C0E;
  }